<section class="container detail-container">
  <div class="card" *ngIf="isLoaded">
    <div class="back-btn" (click)="goBack()">&lt;</div>
    <div class="card-img">
      <img src="{{ imgUrl }}" width="640" height="480">
    </div>
    <div class="card-info" appColorBorder publishedDate="{{ item.snippet.publishedAt }}">
      <div class="info-block">
        <div class="card-title">
          <h2>{{ item.snippet.title }}</h2>
          <p class="published-date">{{item.snippet.publishedAt | date:'fullDate'}}</p>
        </div>
        <p class="description-title">Description:</p>
        <p class="description">{{item.snippet.description}}</p>
      </div>
      <div class="socials-block">
        <app-card-statistic [item]="item"></app-card-statistic>
      </div>
    </div>
  </div>
  <div class="info-container" *ngIf="!isLoaded">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</section>
