.login-container {
  padding-top: 50px;
}

.auth-form {
  background: var(--form-bg-color);
  width: 345px;
  height: 330px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;
}

h2 {
  margin-bottom: 30px;
}

button {
  background-color: var(--main-button-color);
  float: right;
  width: 30%;
}

.hiding-btn {
  background-color: transparent;
}

mat-form-field {
  width: 100%;
  margin-bottom: 30px;
}

@media (max-width: 460px) {
  .auth-form {
    width: 250px;
  }
}
