<div class="filter" [style.display]="isOpen?'flex':'none'">
  <div>Sorting by:</div>
  <div class="sort" (click)="sortByField('date')">date
    <span class="arrow" [style.opacity]="dateState.show?'1':'0'"
      [style.transform]="dateState.up?'rotate(0)':'rotate(180deg)'"></span>
  </div>
  <div class="sort" (click)="sortByField('views')">count of views
    <span class="arrow" [style.opacity]="viewState.show?'1':'0'"
      [style.transform]="viewState.up?'rotate(0)':'rotate(180deg)'"></span>
  </div>
  <div>
    <label>by word or sentance</label>
    <mat-form-field class="word-filter">
      <input matInput type="text" (keyup)="sortByWord($event)">
    </mat-form-field>
  </div>
</div>
