.admin-container {
  padding-top: 50px;
}

.admin-form {
  background: #f2f2f2;
  width: 345px;
  height: 540px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 5px;
}

h2 {
  margin-bottom: 20px;
}

button {
  background-color: #2f80ed;
  float: right;
  width: 30%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

@media (max-width: 460px) {
  .admin-form {
    width: 250px;
  }
}
