.card {
  display: grid;
  height: 327px;
  width: 263px;
  background: #e5e5e5;
  border-radius: 5px;
  border-bottom: 5px solid blue;
}

img {
  display: block;
  width: 223px;
  height: 123px;
  margin: 20px;
}

p {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin: 22px;
  overflow: hidden;
  color: #4f4f4f;
}

a {
  margin: 10px auto;
  width: 120px;
  height: 32px;
}
