.card {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 327px;
  width: 100%;
  background: #e5e5e5;
  border-radius: 5px;
  border-bottom: 5px solid #2f80ed;
}

img {
  display: block;
  width: 80%;
  margin: 20px auto;
}

p {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin: 22px;
  overflow: hidden;
  color: #4f4f4f;
}

a {
  margin: 10px auto;
  width: 120px;
  height: 32px;
  background-color: #2f80ed;
  color: #fff;
}

@media (max-width: 800px) {
  /* img {
    width: 150px;
    height: 80px;
  }

  .card {
    height: 273px;
    width: 190px;
  } */

  p {
    font-size: 16px;
    line-height: 18px;
    margin: 10px;
  }

  a {
    width: 100px;
    height: 30px;
  }
}
