.card {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 327px;
  width: 100%;
  background: var(--main-bg-color);
  border-radius: 5px;
  border-bottom: 5px solid var(--main-button-color);
}

img {
  display: block;
  width: 80%;
  margin: 20px auto;
}

p {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin: 22px;
  overflow: hidden;
  color: var(--main-card-text-color);
}

a {
  margin: 10px auto;
  width: 120px;
  height: 32px;
  background-color: var(--main-button-color);
  color: var(--white-color);
}

@media (max-width: 800px) {
  p {
    font-size: 16px;
    line-height: 18px;
    margin: 10px;
  }

  a {
    width: 100px;
    height: 30px;
  }
}
