.user-info {
  display: flex;
  position: absolute;
  right: 0;
  top: calc(50% - 12px);
  align-items: center;
  grid-gap: 10px;
}

.user-picture {
  width: 24px;
  height: 24px;
  background: url('../../../../assets/login.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.user-name {
  margin: 0;
}
