<div class="filter" [style.display]="isOpen?'block':'none'">
  <div class="container filter-container">
    <div>Sorting by:</div>
    <ng-container *ngTemplateOutlet="sorting; context: sortingByDateContext"></ng-container>
    <ng-container *ngTemplateOutlet="sorting; context: sortingByViewsContext"></ng-container>
    <div>
      <label>by word or sentance</label>
      <mat-form-field class="word-filter">
        <input matInput type="text" (keyup)="sortByWord($event)">
      </mat-form-field>
    </div>
    <ng-template #sorting let-field="field" let-state="state">
      <div class="sort" (click)="sortByField(field)">{{ field }}
        <span class="arrow" [style.opacity]="state.show?'1':'0'"
          [style.transform]="state.up?'rotate(180deg)':'rotate(0)'"></span>
      </div>
    </ng-template>
  </div>
</div>
