<section class="search">
  <div class="container search-container show" *ngIf="!isLoading">
    <app-search-card *ngFor="let i of customResults$ | async" [item]="i">
      <span custom class="custom-mark">Custom</span>
    </app-search-card>
    <app-search-card *ngFor="let i of filteredCards" [item]="i" [search]="searchTerm">
      <app-card-statistic statistic [item]="i.statistics"></app-card-statistic>
    </app-search-card>
  </div>
  <div class="container info-container" *ngIf="nothingFound || errorMessage || isLoading">
    <div class="empty-results" *ngIf="nothingFound">Nothing found :(</div>
    <div class="empty-results" *ngIf="!nothingFound && (errorMessage || (youtubeError$ | async))">Invalid request :(
    </div>
    <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
  </div>
</section>
