@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
  --main-bg-color: #e5e5e5;
  --main-text-color: #929292;
  --main-card-text-color: #4f4f4f;
  --main-button-color: #2f80ed;
  --form-bg-color: #f2f2f2;
  --footer-text-color: #7e7e7e;
  --footer-link-color: #6e6e6e;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  margin: 0 120px;
}

@media (max-width: 800px) {
  .container {
    margin: 0 60px;
  }
}

@media (max-width: 560px) {
  .container {
    margin: 0 30px;
  }
}
