<div class="socials">
  <div class="views">
    <span class="material-icons">visibility</span> <span class="count">{{ item.statistics.viewCount }}</span>
  </div>
  <div class="like">
    <span class="material-icons">thumb_up_at</span> <span class="count">{{ item.statistics.likeCount }}</span>
  </div>
  <div class="dislike">
    <span class="material-icons">favorite</span> <span class="count">{{ item.statistics.favoriteCount }}</span>
  </div>
  <div class="comments">
    <span class="material-icons">comments</span> <span class="count">{{ item.statistics.commentCount }}</span>
  </div>
</div>
